

body{
  background-color: rgba(126,173,140,.6);
}
.border{
  height: 100%;
  width: 97%;
  border-radius: 2%;
  border-width: thin;
  border-style: solid;
  border-color: white;
  margin-left: 1%
}

.bio{
  padding: 10px;
  margin-top: 20px;
  display: inline block;
}


.bio p span {
  font-weight: 400;
  font-style: italic;
  font-size: 22px;
  margin-left: 15%;
  display: inline-block;

}
.bio h1 {
  margin-left: 10px;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.personal{
    margin-left: 20px;
    display: inline block;
}
.personal ul {
  font-weight: 400;
  font-style: italic;
  font-size: 22px;
  margin-left: 13%;
  display: block;
}
