
@media (min-width:800px) {
  .thebody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width:800px) {
  .thebody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

}
@media (min-width:800px) {
  .navbar{
    background-color: #bd5d38;
    height: 100%;
    width: 20%;

  }
}

@media (max-width:800px) {
  .navbar{
    background-color: #bd5d38;
    height: auto;
    width: 100%;
  }

}
html, body{
  height: 100%;
  margin: 0px;
}


@media (min-width:800px) {
  .imgclass img  {

    border-radius: 80%;
    width: 80%;
    border-color: #ac7339;
    border-width: 10px;
    border-style: solid;
    margin-top: 5%;
  }

}

@media (max-width:800px) {
  .imgclass img  {

    border-radius: 80%;
    width: 10%;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    margin-right:  5%;
  }

}
.navigation li a {
    text-decoration: none;
    color: lightgrey;
    font-style: oblique;
    font-weight: bold;
    font-size: 18px;

}


li a:hover
  {
    color:white;
    text-decoration:none;
    cursor:pointer;
   }
ul, li {
  list-style-type: none;

}

.content{
  padding-left: 5%;
  width: 80%;
}

.text-primary{
  color: #bd5d38!important;
}

.social-icons{
  padding: 5%;
}

@media (max-width:800px) {
  .navigation .space{
    display: inline-block;
    margin-left: 10%;

  }

}

@media (min-width:800px) {
  .navigation .space{
    display: block;
    margin-top: 5%;

  }

}
